.dashboard-card {
    color: #c3c3c3;
    height: auto;
  
    &-body {
      //  display: block;
      width: 100%;
      height: auto;
    }
  }
  
  .dc {
    &-blue {
      border-left: 3px solid #007bff !important;
    }
  
    &-green {
      border-left: 3px solid #07e364 !important;
    }
  
    &-yellow {
      border-left: 3px solid #f4d52a !important;
    }
  
    &-black {
      border-left: 3px solid #4d4d4d !important;
    }
  
    &-pink {
      border-left: 3px solid #e55cf0 !important;
    }
  
    &-red {
      border-left: 3px solid #f77272 !important;
    }
  }
  