.login-background{
  width: 100%!important;
  height: 100%;
}

.row-login{
  position: absolute;
  right:7rem;
  top:8rem;
}

@media (max-width: 767px) {
  .login-background{
    width: 100%!important;
  }

  .row-login{
    position: absolute;
    right:0;
    top:30%;
  }

  .login-card{
    padding:0!important;
    
  }
}