.input-form-entertaint{
    width: 30%;
}

.btn-closed{
    font-size: 14px;
    border: 1px solid #007bff !important;
}

.btn-reload-new{
    font-size: 14px;
    border: 1px solid #007bff !important;
    left: 2rem;
}

.btn-print-new{
    font-size: 14px;
    background-color: #007bff !important;
    left: 4rem;
}

@media (max-width: 767px) {
    .input-form-entertaint{
        width: 100%;
    }

    .btn-closed{
        display: block;
        width: 100%;
        margin-bottom: 5%!important;
    }

    .btn-reload-new{
        display: block;
        left: 0rem;
        width: 100%;
        margin-bottom: 5%!important;
    }
    
    .btn-print-new{
        display: block;
        left: 0rem;
        width: 100%;
    }
}

