.add-new-users {
    label {
      font-size: 14px;
      font-weight: 900;
      color: #007bff;
    }
  
    input {
      border: none;
      border-bottom: 1px solid #00b1ff;
    }
  
    .form-group {
      //margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .form-check-input {
      position: absolute;
      margin-top: 4px !important;
      margin-left: 10px !important;
    }
  }
  