.filter-bar {
  display: inline-block;
  margin: 0px 5px;
  color: #c3c3c3;

  span {
    // color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
  }

  .fa {
    color: #4d4d4d;
  }
}
